
ul {
    display: inline-flex;
    list-style: none;
    padding: 0;
    max-width: 0;
    gap: 1rem;
}

a {
    color: rgba(255, 255, 255, 0.87);
}

a:hover {
    color: rgba(188, 236, 255, 0.87);
}

a:active {
    color: rgba(255, 255, 255, 0.87);
}

.header-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}